.article
  .article_title
    color: rgba(black, 0.8)
    font-size: 1.53rem
    font-weight: bold
    background-color: rgba(gray, 0.2)
    padding: 7px 10px
    border-left: 4px solid rgba(blue, 0.4)
    margin-top: 10px
  img
    width: 100%
    margin-top: 20px
  .intro
    .intro_title
      font-weight: bold
      font-size: 1.12rem
    a
      text-decoration: none
      &:hover
        text-decoration: underline
      &:visited
        color: blue